.header{
	background-image: url('../img/top-banner.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 50vh;
	position: relative;
}

.carousel {
	display: block;
	margin: 0 auto;
	max-width: 800px;
}

.carousel-item img { 
	height: 440px;
}

.card-img {
	height: 270px;
}

@media screen and (max-width: 700px) {

	.carousel {
		width: 100%;
	}
	
	.carousel-item img { 
		height: 400px;
	}

	.cards-item {
		align-items: center;
		flex-direction: column;
	}

	.card {
		margin-bottom: 10px;
	}
}
